<!-- Include header template -->
<%- include("templates/header", {headerMessage: headerMessage }) %>
    <br>
    <!-- Form to test user's language and calculation abilities per MMSE questionnaire -->
    <!-- https://cgatoolkit.ca/Uploads/ContentDocuments/MMSE.pdf -->
    <form method="POST" action="/mmse-word-reversal">
        <input type="hidden" name="word" value="<%= word %>">
        <div class="card mx-auto rounded">
            <div class="card-body">
                <!-- Populate the number question of this type the user is on -->
                <h4>Press the listen <i class="material-icons">&#xe023;</i>
                    button and enter what you hear
                    spelt in <span style="text-decoration: underline;">reverse</span>
                    in the text box below then press <span style="color: #778251;">Next</span>.
                    (<%=pageCount%>/3)
                </h4>
                <br>
                <!-- Call to speak function for user to hear the required word -->
                <button type="button" class="btn btn-lg btn-submit btn-block btn-speak btn-mmse"
                    onclick="speak('<%= word %>')">Listen
                    <i class="material-icons">&#xe023;</i></button>
                <br><br>
                <input type="text" class="form-control border-0 light-green-background font-lg focus mmse-text-box"
                    id="inputWord" name="inputWord" placeholder="Type your answer here">
            </div>
        </div>
        <br>
        <!-- Include text for the button -->
        <% var text="Next" ; %>

            <!-- Include footer template -->
            <%- include("templates/mmse-footer", {questionType : "object-recall" , mmseBtnText: text, reference
                : "/mmse-word-reversal" }); %>