<%- include("templates/header-back", {headerMessage: headerMessage }) %>

    <br>

    <div class="card mx-auto rounded">
        <div class="card-body">
            <form method="POST" action="/mmse-object-recall">
                <input type="hidden" name="object" value="<%= object %>">
                <h4>Enter the name of the object shown in the text
                    box below then press <span style="color: #778251;">Next</span>. (<%=pageCount%>/3)</h4>
                <img src="/images/objects/<%= object %>.jpg" class="img-fluid mx-auto d-block" alt="Responsive image">
                <input type="text" class="form-control border-0 light-green-background font-lg focus mmse-text-box"
                    id="inputObject" name="inputObject" placeholder="Type the name of the object here">
        </div>

    </div>
    <br>
    <% var text="Next" ; %>

        <%- include("templates/mmse-footer", {questionType : "object-recall" , mmseBtnText: text, reference
            : "/mmse-object-recall" }); %>