<!-- Header -->
<%- include("templates/header-back", {headerMessage: "Notifications"}) %>
    <div class="my-5 mx-3">
        <!-- Notifications Page -->
        <!-- Exercise notifications  -->
        <div class="card light-green-background dark-green-border mx-auto">
            <div class="container p-0">

                <div class="d-flex">

                    <div class="p-2">
                        <label class="form-label m-0">Exercise notifications</label>
                    </div>
                    <div class="ms-auto p-2 form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="exercise-frequency-toggle-switch"
                            onchange="toggleNotification('exercise-frequency-toggle-switch')"  <%= exercise.isActive ? 'checked' : ''%> >
                    </div>
                </div>

                <div id="exercise-frequency-additional-div" class="d-none border-top">
                    <div class="wrapper">
                        <div class="radio-group-title">Frequency:</div>

                        <div class="radio-group-wrapper  white-transparent-background">
                            <div class="radio-wrapper">
                                <input type="radio" id="efr-daily" name="exerciseFrequency" hidden value="daily" <%=exercise.frequency==='daily'
                                    ? 'checked' : '' %>
                                />
                                <label for="efr-daily">Daily</label>
                            </div>
                            
                            <div class="radio-wrapper">
                                <input type="radio" id="fr-two-days" name="exerciseFrequency" hidden value="every-other-day"
                                    <%=exercise.frequency==='every-other-day' ? 'checked' : '' %>
                                />
                                <label for="fr-two-days">Every Other Day</label>
                            </div>
                            
                            <div class="radio-wrapper">
                                <input type="radio" id="efr-weekly" name="exerciseFrequency" hidden value="weekly" <%=exercise.frequency==='weekly'
                                    ? 'checked' : '' %>
                                />
                                <label for="efr-weekly">Weekly</label>
                            </div>
                        </div>

                        <div class="d-flex" id="exercise-time">

                            <div class="p-2">
                                <label class="form-label m-0">Time</label>
                            </div>
                            <div class="ms-auto p-2 form-check form-switch"  id="timePicker">
                                <input type="time" class="light-green-background time-picker px-2 border-0" id="time-picker" name="time"
                                    value="<%= exercise.time %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Checkup notifications  -->
        <div class="card light-green-background dark-green-border my-2 mx-auto">
            <div class="container p-0">

                <div class="d-flex">

                    <div class="p-2">
                        <label class="form-label m-0">Checkup notifications</label>
                    </div>
                    <div class="ms-auto p-2 form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="checkup-toggle-switch"
                            onchange="toggleNotification('checkup-toggle-switch')" 
                            <%= mmse.isActive ? 'checked' : ''%> >
                    </div>
                </div>

                <div id="checkup-frequency-additional-div" class="d-none checkup-toggle-switch border-top">
                    <div class="wrapper">
                        <div class="radio-group-title">Frequency:</div>

                        <div class="radio-group-wrapper  white-transparent-background">
                            <div class="radio-wrapper">
                                <input type="radio" id="qfr-weekly" name="mmseFrequency" hidden value="weekly" <%=mmse.frequency==='weekly' ? 'checked'
                                    : '' %>
                                />
                                <label for="qfr-weekly">Weekly</label>
                            </div>

                            <div class="radio-wrapper">
                                <input type="radio" id="qfr-two-weeks" name="mmseFrequency" hidden value="every-other-week"
                                    <%=mmse.frequency==='every-other-week' ? 'checked' : '' %>
                                />
                                <label for="qfr-two-weeks">Every Other Week</label>
                            </div>

                            <div class="radio-wrapper">
                                <input type="radio" id="qfr-monthly" name="mmseFrequency" hidden value="monthly" <%=mmse.frequency==='monthly'
                                    ? 'checked' : '' %>
                                />
                                <label for="qfr-monthly">Monthly</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Update notifications JS -->
    <script src="scripts/update-notifications.js"></script>



    <!-- Footer -->